body {
  font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
	background-color: #fff;
	margin: 0;
}

a {
	text-decoration: none;
}

html, body {
	width: 100%;
	height: 100%;
}

.pane {
	
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
  width: 580px;  
}

.view {
	position: fixed;
	top: 0;
	bottom: 0;
  left: 0;
	right: 600px;
  border-right: 4px solid #f1f1f1;
}

#preview {
	width: 100%;
	height: 100%;	
	border: 0;
	margin-top: -1px;
	margin-bottom: -1px;
}

/* tabs */

.tabs {
	margin: 0;
  padding: 18px 0 0 0;
	list-style: none;
  border-bottom: 4px solid mediumpurple;
}

.tabs>li {
  display: inline-block;
}

.tab>a {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
	padding: 4px 32px 0;
  line-height: 28px;
  display: inline-block;
}

.tab.active>a {
  text-decoration: underline;
} 

.tab-view {
	position: absolute;
	top: 54px;
	bottom: 0;
  left: 0;
	right: 0;
  display: none;
}

.tab-view.active {
  display: block;
}

.tab-view>form {
  width: 100%;
  height: 100%;
}

.tabs-menu {
  float: right;
  margin: 18px 12px 0 0;
  padding: 2px 0;
}

.tabs-menu>a {
	padding: 0 12px;
  color: #aaa;
  border: 2px solid #aaa;
  font-size: 11px;
  line-height: 18px;
  font-weight: bold;
  border-radius: 4px;
  transition: color .5s, border-color .5s;
  display: inline-block;
}

.tabs-menu>a:hover {
  color: #444;
  border-color: #444;
}

/* */

.tab_view {
  background-color: tomato;  
}

.tab_data {
  background-color: mediumpurple;  
}

.tab_settings {
  background-color: dodgerblue;
}

.btn-link {
  font-weight: bold;
  text-decoration: underline;
  color: #444;  
}

.btn-link:hover {
  color: tomato;
}

.user-form>div {
  padding: 12px 0;
}

/* */

.editor {
  font-size: 12px;
  font-family: monospace;  
  white-space: pre;
  word-wrap: normal;
  overflow-x: auto;
	width: 100%;
	height: 100%;
	border: 0;
	padding: 10px;
	resize: none;
  color: #444;
	box-sizing: border-box;  
  background-color: #fff;  
}

.editor:focus {
    outline: 0;
}
